button,input[type="submit"],.tab-selector:hover {
    background-color: white;
    cursor: pointer;
}

html {
    background-color: white;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

.dull {
    box-shadow: 2px 2px 5px gray;
    background-color: lightgray;
    border-style: groove;
    border-color: whitesmoke;
    border-width: 2px;
    border-radius: 4px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.error {
    font-weight: bold;
    /* Red glow. */
    color: rgba(210, 39, 48, 0.8);
    text-shadow:
        0 0 11px rgba(200, 51, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);
}

.error::before {
    content: "⚠️ ";
}

.error::after {
    content: " ⚠️";
}

.hidden {
    display: none;
}

.tab-selector {
    padding: 0;
    margin: 1%;
    margin-right: 10%;
}

.tab-selector label {
    width: 100%;
    height: 100%;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1%;
}

#content *:nth-child(2) {
    flex-grow: 1;
}

#content > *,#header,#status {
    margin: 1%;
}

#header,#status {
    display: flex;
    justify-content: space-around;
}

#selector-list {
    display: flex;
    flex-direction: column;
}

#status {
    font-family: monospace;
}

@media (max-width: 1000px) {
    #content {
        flex-direction: column;
    }
}

